.inputContainer {
  display: block;
  width: 100%;
  margin-bottom: 4%;
}

.dropdownContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submitBtn {
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: rgb(61, 104, 104);
  border: 0px solid transparent;
  border-radius: 5px;
}

.submitBtn:active {
  background-color: rgb(73, 160, 160);
  color: black;
}

.addTaskForm {
  width: 100%;
}

.select {
  margin-top: 6%;
}

.inputText {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .addTaskForm label {
    font-weight: 1000;
    font-size: 18px;
  }

  .inputText {
    font-size: medium;
  }

  .select {
    font-size: medium;
    margin-top: 3px;
  }

  .dropdown {
    width: 40%;
  }

  .dropdownContainer {
    height: 100px;
  }

  .inputContainer {
    height: 70px;
    margin-top: 40px;
  }

  .submitBtn {
    height: 50px;
    font-weight: 400;
    font-size: large;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .addTaskForm label {
    font-weight: 800;
    font-size: 16px;
  }

  .inputText {
    font-size: small;
  }

  .select {
    font-size: small;
    margin-top: 3px;
  }

  .dropdown {
    width: 40%;
  }

  .dropdownContainer {
    height: 80px;
  }

  .inputContainer {
    height: 50px;
    margin-top: 30px;
  }

  .submitBtn {
    height: 40px;
    font-weight: 400;
    font-size: medium;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .addTaskForm label {
    font-weight: 700;
    font-size: 12px;
  }

  .inputText {
    font-size: smaller;
  }

  .select {
    font-size: x-small;
    margin-top: 3px;
  }

  .dropdown {
    width: 48%;
  }

  .dropdownContainer {
    height: 40px;
  }

  .inputContainer {
    height: 50px;
    margin-top: 15px;
  }

  .submitBtn {
    height: 30px;
    font-weight: 400;
    font-size: small;
    margin-top: 50px;
  }
}
