@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(61, 104, 104);
  padding: 3%;
  border-radius: 5px;
}

.task-container {
  margin: 30px auto;
  padding: 3%;
  border-radius: 5px;
  background-color: rgb(198, 214, 214);
}

.task-container label {
  display: block;
}
.tasklist{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
}

.taskname {
  font-size: large;
  font-weight: 800;
}

.taskdetail, .taskduedate {
  margin-top: 1%;
  font-size: small;
}

.taskduedate {
  color: green;
  font-weight: 900;
}

.add-task-form {
  padding: 20px 10px 10px 10px;
}

.input-section {
  display: block;
  width: 100%;
  margin-bottom: 4%;
}

.input-section label {
  font-weight: 1000;
}

.input-text {
  box-sizing: border-box;
  padding: 2%;
  font-size: medium;
  width: 100%;
  margin-top: 1.5%;
}

.submit-btn {
  width: 100%;
  margin-top: 10%;
  height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: large;
  color: white;
  background-color: rgb(61, 104, 104);
  border: 0px solid transparent;
  border-radius: 5px;
}

.submit-btn:active {
  background-color: rgb(73, 160, 160);
  color: black;

}