@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(61, 104, 104);
  padding: 10px;
  border-radius: 5px;
}
.add-task-form{
  padding:20px 10px 10px 10px;
}
.input-section{
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.input-section label{
  font-weight: 1000;
}
.add-task-form input{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
}

.submit-btn{
  margin-top: 50px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: large;
  color: white;
  background-color: rgb(61, 104, 104);
  border: 0px solid transparent;
  border-radius: 5px;
}

.submit-btn:active{
  background-color: rgb(73, 160, 160);
  color: black;

}