@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid darkgreen;
  padding: 30px;
  border-radius: 5px;
}
.heading{
  margin-bottom: 30px;
}

.add-task-form{
  padding: 10px;
}
.input-section{
  display: block;
  width: 100%;
  margin-top: 20px;
}

.add-task-form input{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.submit-btn{
  margin-top: 50px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: medium;
  color: white;
  background-color: darkslategrey;
  border: 0px solid transparent;
  border-radius: 5px;
}

.submit-btn:active{
  background-color: rgb(53, 116, 116);
  color: black;

}