.addTaskForm {
    padding: 20px 10px 10px 10px;
}

.inputSection {
    display: block;
    width: 100%;
    margin-bottom: 4%;
}

.addTaskForm label {
    font-weight: 1000;
}

.inputText {
    box-sizing: border-box;
    padding: 2%;
    font-size: medium;
    width: 100%;
    margin-top: 1.5%;
}

.select {
    margin-top: 6%;
}

.viewStats {
    background-color: orange;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}

.viewStats:hover {
    background-color: rgb(212, 139, 3);
}

.headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.statsLink {
    color: black;
    font-weight: 700;
    font-size: medium;
    text-decoration: none;
}