.editTask {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.inputSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    align-items: end;
    box-sizing: border-box;
    padding: 30px;
    min-width: 600px;
}

.editTaskHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    height: max-content;
    align-items: center;
}

.editTaskHeader img {
    width: 20px;
    height: 20px;

}