.editTask {
    width: 400px;
    height: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    overflow: auto;
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}