.category-heading {
    display: flex;
    justify-content: center;
}

.category-heading label {
    height: 40px;
    flex: 1;
    text-align: center;
    line-height: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.category-heading label:hover {
    background-color: orange;
    color: black;
    /* background-color: rgb(236, 205, 29); */
}

.selected-category,
.category-heading label:active {
    background-color: rgb(61, 104, 104);
    color: white;
}

.task-list {
    min-height: 0px;
    overflow: auto;
    padding: 3%;
}

.task-list hr {
    margin: 50px auto 50px auto;
}