@media only screen and (min-width: 601px) {
  .container {
    
    max-width: 600px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid rgb(61, 104, 104);
    padding: 30px;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .container {
    max-width: 450px;
    margin: 20px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid rgb(61, 104, 104);
    padding: 20px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
    margin: 10px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid rgb(61, 104, 104);
    padding: 10px;
    border-radius: 5px;
  }
}
