.stats {
    margin: 0;
    background-color: rgb(236, 232, 221);
}

.stats-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 100px;
    text-align: center;
    gap: 3%;
}

.stats-item {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.completion-stats-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}