.stats {
    margin: 0;
    background-color: rgb(236, 232, 221);
}

.stats>* {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.statsContainer {

    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-bottom: 100px;
    text-align: center;
    gap: 3%;
}

.statsItem {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(250, 247, 240);

}

.statsItem:hover {
    box-shadow: 10px;
}

.completionStatsContainer {
    border: 2px solid black;
}

.title {
    display: block;
    font-size: x-large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.addTask {
    background-color: orange;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}

.addTask:hover {
    background-color: rgb(212, 139, 3);

}

.headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.tasksLink {
    color: black;
    font-weight: 700;
    font-size: medium;
    text-decoration: none;

}

.heading {
    font-size: xx-large;
}