
.viewStats:hover {
  background-color: rgb(212, 139, 3);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media only screen and (min-width: 601px) {
  .viewStats {
    background-color: orange;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
  }
    .statsLink {
      color: black;
      font-weight: 700;
      font-size: medium;
      text-decoration: none;
    }
  h2 {
    font-weight: 700;
    font-size: x-large;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .viewStats {
    background-color: orange;
    border: 0;
    padding: 6px 12px 6px 12px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
  }
    .statsLink {
      color: black;
      font-weight: 700;
      font-size: medium;
      text-decoration: none;
    }
  h2 {
    font-weight: 700;
    font-size: larger;
  }
}

@media only screen and (max-width: 480px) {
  .viewStats {
    background-color: orange;
    border: 0;
    padding: 5px 10px 5px 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
  }
    .statsLink {
      color: black;
      font-weight: 700;
      font-size: small;
      text-decoration: none;
    }
  h2 {
    font-weight: 600;
    font-size: large;
  }
}
